---
- hosts: servers
  tasks:
    - name: Allow OpenSSH
      ufw:
        rule: allow
        name: OpenSSH
    - name: Allow HTTP
      ufw:
        rule: allow
        port: '80'
        proto: tcp
    - name: Allow HTTPS
      ufw:
        rule: allow
        port: '443'
        proto: tcp
    - name: Deny SMTP (25)
      ufw:
        rule: deny
        port: '25'
    - name: Enable UFW
      ufw:
        state: enabled
        policy: allow
    - name: Enable UFW logging
      ufw:
        logging: 'on'
...
